<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pandora">
  <gazebo>
    <material name="Gazebo/black">
      <color rgba="0.0 0.0 0.0 1.0"/>
    </material>

    <material name="Gazebo/blue">
      <color rgba="0.0 0.0 0.8 1.0"/>
    </material>

    <material name="Gazebo/green">
      <color rgba="0.0 0.8 0.0 1.0"/>
    </material>

    <material name="Gazebo/grey">
      <color rgba="0.2 0.2 0.2 1.0"/>
    </material>

    <material name="Gazebo/orange">
      <color rgba="${255/255} ${108/255} ${10/255} 1.0"/>
    </material>

    <material name="Gazebo/brown">
      <color rgba="${222/255} ${207/255} ${195/255} 1.0"/>
    </material>

    <material name="Gazebo/red">
      <color rgba="0.8 0.0 0.0 1.0"/>
    </material>

    <material name="Gazebo/white">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>
  </gazebo>
</robot>